pipeline/cdc_based.json
{
	"name": "cdc_based",
	"properties": {
		"activities": [
			{
				"name": "MaxLSN",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT sys.fn_cdc_get_max_lsn() AS MaxLSN;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azureSql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "v_GlobalMaxLSN",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "MaxLSN",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_GlobalMaxLSN",
					"value": {
						"value": "@activity('MaxLSN').output.firstRow.MaxLSN",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_GlobalMaxLSN": {
				"type": "String"
			}
		},
		"annotations": []
	}
}