hisfactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "hisfactory"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"hisServer69_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'hisServer69'"
		},
		"API_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://swapi.dev/api/people/?page=1"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://hisadls.dfs.core.windows.net/"
		},
		"RestAPIwa_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://digi-api.com/api/v1/digimon"
		},
		"hisADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://hisadls.dfs.core.windows.net/"
		},
		"hisServer69_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-NKOE7QN2"
		},
		"hisServer69_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().database}"
		},
		"hisServer69_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "fabric_user"
		},
		"trig_event_properties_PL_landing_to_raw_parameters_source_filePath": {
			"type": "string",
			"defaultValue": "@replace(triggerBody().folderPath, 'landing/', '')"
		},
		"trig_event_properties_PL_landing_to_raw_parameters_source_fileName": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"trig_event_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/b7abd08a-ff86-4b0d-8d85-c4054fadc0bf/resourceGroups/Suraksha_rest/providers/Microsoft.Storage/storageAccounts/hisadls"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/API')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('API_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestAPIwa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestAPIwa_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hisADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('hisADLS_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/microsoftchut')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestAPI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "API",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/API')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hisADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folder": {
						"type": "string"
					},
					"file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hisADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_landing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hisADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"filePath": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().filePath",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hisADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hisADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat('semi_struc', '-', formatDateTime(utcNow(), 'yyyyMMdd'))",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hisADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/parquetwa')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hisADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_folder": {
						"type": "string"
					},
					"p_file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hisADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hisServer69')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"database": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('hisServer69_properties_typeProperties_server')]",
					"database": "[parameters('hisServer69_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('hisServer69_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('hisServer69_password')]"
					}
				},
				"connectVia": {
					"referenceName": "microsoftchut",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/microsoftchut')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/API_Ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "API_to_ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"AbsoluteUrl": "$.next"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"name": "name"
										}
									},
									{
										"source": {
											"path": "[['height']"
										},
										"sink": {
											"name": "height"
										}
									},
									{
										"source": {
											"path": "[['mass']"
										},
										"sink": {
											"name": "mass"
										}
									},
									{
										"source": {
											"path": "[['hair_color']"
										},
										"sink": {
											"name": "hair_color"
										}
									},
									{
										"source": {
											"path": "[['skin_color']"
										},
										"sink": {
											"name": "skin_color"
										}
									},
									{
										"source": {
											"path": "[['eye_color']"
										},
										"sink": {
											"name": "eye_color"
										}
									},
									{
										"source": {
											"path": "[['birth_year']"
										},
										"sink": {
											"name": "birth_year"
										}
									},
									{
										"source": {
											"path": "[['gender']"
										},
										"sink": {
											"name": "gender"
										}
									},
									{
										"source": {
											"path": "[['homeworld']"
										},
										"sink": {
											"name": "homeworld"
										}
									},
									{
										"source": {
											"path": "[['created']"
										},
										"sink": {
											"name": "created"
										}
									},
									{
										"source": {
											"path": "[['edited']"
										},
										"sink": {
											"name": "edited"
										}
									},
									{
										"source": {
											"path": "[['url']"
										},
										"sink": {
											"name": "url"
										}
									}
								],
								"collectionReference": "$['results']"
							}
						},
						"inputs": [
							{
								"referenceName": "RestAPI",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adls_dataset",
								"type": "DatasetReference",
								"parameters": {
									"container": "landing",
									"folder": "Dataset",
									"file_name": "swapi.csv"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-12-12T05:44:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestAPI')]",
				"[concat(variables('factoryId'), '/datasets/adls_dataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_landing_to_raw')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "landing_to_raw",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_landing",
								"type": "DatasetReference",
								"parameters": {
									"filePath": {
										"value": "@pipeline().parameters.source_filePath",
										"type": "Expression"
									},
									"fileName": {
										"value": "@pipeline().parameters.source_fileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_raw",
								"type": "DatasetReference",
								"parameters": {
									"fileName": {
										"value": "@pipeline().parameters.source_fileName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"source_filePath": {
						"type": "string"
					},
					"source_fileName": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_landing')]",
				"[concat(variables('factoryId'), '/datasets/ds_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hisServer69",
					"type": "LinkedServiceReference",
					"parameters": {
						"database": {
							"value": "@dataset().database",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"database": {
						"type": "string"
					},
					"schema": {
						"type": "string"
					},
					"table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hisServer69')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Metadata_driven')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_config",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sql_dataset",
								"type": "DatasetReference",
								"parameters": {
									"database": "CS",
									"schema": "dbo",
									"table": "load_config"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_config",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_config').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().loadtype, 'Full')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Incremental_load",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@concat(\n'select * from ',\nitem().database, '.', item().tablename,\n' where ', item().watermark, ' > ''',\nitem().watermark, ''''\n)\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "FlattenHierarchy"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "sql_dataset",
														"type": "DatasetReference",
														"parameters": {
															"database": {
																"value": "@item().database",
																"type": "Expression"
															},
															"schema": {
																"value": "@split(item().tablename, '.')[0]",
																"type": "Expression"
															},
															"table": {
																"value": "@split(item().tablename, '.')[1]",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "adls_dataset",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"folder": {
																"value": "@item().destination",
																"type": "Expression"
															},
															"file_name": {
																"value": "@concat(split(item().tablename,'.')[1],\n    '_',\n    formatDateTime(utcNow(),'yyyyMMddHHmmss')\n)\n",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "update_config_I",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Incremental_load",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "SP_update_log",
													"storedProcedureParameters": {
														"database": {
															"value": {
																"value": "@item().database",
																"type": "Expression"
															},
															"type": "String"
														},
														"tablename": {
															"value": {
																"value": "@item().tablename",
																"type": "Expression"
															},
															"type": "String"
														},
														"rows_count": {
															"value": {
																"value": "@activity('Incremental_load').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int16"
														},
														"loadtype": {
															"value": {
																"value": "@item().loadtype",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermark": {
															"value": {
																"value": "@item().watermark",
																"type": "Expression"
															},
															"type": "String"
														},
														"is_active": {
															"value": {
																"value": "@if(item().is_active, 1, 0)\n",
																"type": "Expression"
															},
															"type": "Int16"
														},
														"destination": {
															"value": {
																"value": "@item().destination",
																"type": "Expression"
															},
															"type": "String"
														},
														"modified_datetime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "Datetime"
														},
														"rows_copied": {
															"value": {
																"value": "@activity('Incremental_load').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int16"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "hisServer69",
													"type": "LinkedServiceReference",
													"parameters": {
														"database": "CS"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Full_Load",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@concat('select * from ', item().database,'.',item().tablename)\n\n\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings",
															"copyBehavior": "FlattenHierarchy"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "sql_dataset",
														"type": "DatasetReference",
														"parameters": {
															"database": {
																"value": "@item().database",
																"type": "Expression"
															},
															"schema": {
																"value": "@split(item().tablename, '.')[0]",
																"type": "Expression"
															},
															"table": {
																"value": "@split(item().tablename, '.')[1]",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "adls_dataset",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"folder": {
																"value": "@item().destination",
																"type": "Expression"
															},
															"file_name": {
																"value": "@split(item().tablename, '.')[1]",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "update_config",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Full_Load",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "SP_update_log",
													"storedProcedureParameters": {
														"database": {
															"value": {
																"value": "@item().database",
																"type": "Expression"
															},
															"type": "String"
														},
														"tablename": {
															"value": {
																"value": "@item().tablename",
																"type": "Expression"
															},
															"type": "String"
														},
														"rows_Count": {
															"value": {
																"value": "@activity('Full_Load').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int16"
														},
														"loadtype": {
															"value": {
																"value": "@item().loadtype",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermark": {
															"value": {
																"value": "@item().watermark",
																"type": "Expression"
															},
															"type": "String"
														},
														"is_active": {
															"value": {
																"value": "@if(item().is_active, 1, 0)\n",
																"type": "Expression"
															},
															"type": "Int16"
														},
														"destination": {
															"value": {
																"value": "@item().destination",
																"type": "Expression"
															},
															"type": "String"
														},
														"rows_Copied": {
															"value": {
																"value": "@activity('Full_Load').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int16"
														},
														"modified_datetime": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "Datetime"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "hisServer69",
													"type": "LinkedServiceReference",
													"parameters": {
														"database": "CS"
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"pipeline_end": {
						"type": "String"
					},
					"rows_read": {
						"type": "String"
					},
					"rows_copied": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-12-25T16:54:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sql_dataset')]",
				"[concat(variables('factoryId'), '/datasets/adls_dataset')]",
				"[concat(variables('factoryId'), '/linkedServices/hisServer69')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_sql2adls')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_meta",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "sql_dataset",
								"type": "DatasetReference",
								"parameters": {
									"database": "CS",
									"schema": "dbo",
									"table": "metadata_table"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_meta",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_meta').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().loadtype, 'Full')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Incremental_load",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@concat(\n'select * from ',\nitem().database,'.','dbo','.',item().tablename)\n",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "sql_dataset",
														"type": "DatasetReference",
														"parameters": {
															"database": {
																"value": "@item().database",
																"type": "Expression"
															},
															"schema": "dbo",
															"table": {
																"value": "@item().tablename",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "adls_dataset",
														"type": "DatasetReference",
														"parameters": {
															"container": "suraksha",
															"folder": {
																"value": "@item().tablename",
																"type": "Expression"
															},
															"file_name": {
																"value": "@concat(\n    item().tablename,\n    '-',\n    formatDateTime(utcNow(), 'yyyyMMdd')\n    )",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "update_metadata_table",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Incremental_load",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[UPDATE_Metadata_table]",
													"storedProcedureParameters": {
														"database": {
															"value": {
																"value": "@item().database",
																"type": "Expression"
															},
															"type": "String"
														},
														"destination": {
															"value": {
																"value": "@item().destination",
																"type": "Expression"
															},
															"type": "String"
														},
														"ingested_at": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"is_active": {
															"value": {
																"value": "@if(item().is_active, 1, 0)",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"loadtype": {
															"value": {
																"value": "@item().loadtype",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowcount": {
															"value": {
																"value": "@activity('Incremental_load').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"rows_copied": {
															"value": {
																"value": "@activity('Incremental_load').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"tablename": {
															"value": {
																"value": "@item().tablename",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermark": {
															"value": {
																"value": "@item().watermark",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "hisServer69",
													"type": "LinkedServiceReference",
													"parameters": {
														"database": "CS"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Full_load",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@concat(\n    'select * from ', \n    item().database,'.','dbo','.',item().tablename)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "sql_dataset",
														"type": "DatasetReference",
														"parameters": {
															"database": {
																"value": "@item().database",
																"type": "Expression"
															},
															"schema": "dbo",
															"table": {
																"value": "@item().tablename",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "adls_dataset",
														"type": "DatasetReference",
														"parameters": {
															"container": "suraksha",
															"folder": {
																"value": "@item().tablename",
																"type": "Expression"
															},
															"file_name": {
																"value": "@concat(\n    item().tablename,\n    '-',\n    formatDateTime(utcNow(), 'yyyyMMdd')\n    )",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "update_records",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Full_load",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[UPDATE_Metadata_table]",
													"storedProcedureParameters": {
														"database": {
															"value": {
																"value": "@item().database",
																"type": "Expression"
															},
															"type": "String"
														},
														"destination": {
															"value": {
																"value": "@item().destination",
																"type": "Expression"
															},
															"type": "String"
														},
														"ingested_at": {
															"value": {
																"value": "@utcNow()",
																"type": "Expression"
															},
															"type": "DateTime"
														},
														"is_active": {
															"value": {
																"value": "@if(item().is_active, 1, 0)\n",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"loadtype": {
															"value": {
																"value": "@item().loadtype",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowcount": {
															"value": {
																"value": "@activity('Full_load').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"rows_copied": {
															"value": {
																"value": "@activity('Full_load').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"tablename": {
															"value": {
																"value": "@item().tablename",
																"type": "Expression"
															},
															"type": "String"
														},
														"watermark": {
															"value": {
																"value": "@item().watermark",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "hisServer69",
													"type": "LinkedServiceReference",
													"parameters": {
														"database": "CS"
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-12-25T16:54:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sql_dataset')]",
				"[concat(variables('factoryId'), '/datasets/adls_dataset')]",
				"[concat(variables('factoryId'), '/linkedServices/hisServer69')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trig_event')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_landing_to_raw",
							"type": "PipelineReference"
						},
						"parameters": {
							"source_filePath": "[parameters('trig_event_properties_PL_landing_to_raw_parameters_source_filePath')]",
							"source_fileName": "[parameters('trig_event_properties_PL_landing_to_raw_parameters_source_fileName')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/landing/blobs/semi_struc/",
					"blobPathEndsWith": ".json",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trig_event_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_landing_to_raw')]"
			]
		}
	]
}